h1 #{title}
p Welcome to #{title}. This is a place to put stuff you don't really have the time to check up on.

div(id='in')
	input(class='later, main')

div(id='out')

p(id='footer')
	a(href='http://twitter.com/phareim') /Petter
