h1 #{title}

div(id='in')
	input(class='later main')

div(id='out')

p(id='footer')
	p Welcome to #{title}. This is a place to put stuff you don't have the time to check up on.
	a(href='http://twitter.com/phareim') @Petter
